* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  background: -webkit-gradient(linear, left top, right bottom, from(#174879), color-stop(#0c6bca), to(#0c3965));
  background: linear-gradient(to right bottom, #174879, #0c6bca, #0c3965);
}
body img {
  position: absolute;
  display: none;
  width: 500px;
  height: 460px;
  top: 80px;
  z-index: 1;
  border-radius: 40px;
}
body .show {
  display: block;
}

#gameboard {
  width: 360px;
  height: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#gameboard .square {
  width: 120px;
  height: 120px;
  background-color: white;
  border: solid 2px #1c5791;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#gameboard .square .circle {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: 15px solid blue;
}
#gameboard .square .cross {
  height: 90px;
  width: 90px;
  position: relative;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
#gameboard .square .cross::after,
#gameboard .square .cross::before {
  content: "";
  position: absolute;
  background-color: red;
}
#gameboard .square .cross::before {
  left: 50%;
  width: 30%;
  margin-left: -15%;
  height: 100%;
}
#gameboard .square .cross::after {
  top: 50%;
  height: 30%;
  margin-top: -15%;
  width: 100%;
}

.info {
  font-size: 30px;
  margin-top: 50px;
  font-weight: bolder;
  color: white;
}

.green {
  background-color: rgb(7, 186, 7);
  padding: 20px;
  border-radius: 30px;
}